body {
    font: 12px "Open Sans", HelveticaNeue, Helvetica, Arial;
}

html, body, #app, .grid-container {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #eee;
}

.grid-toolbar {
    background: #009688;
    color: white;
    line-height: 64px;
    padding-left: 24px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-weight: bold;
    font-size: 20px;
    text-align: right;
}
    .grid-toolbar label {
        float: left;
    }
    .grid-toolbar button {
        cursor: pointer;
        margin-right: 20px;
    }

.grid-container {
    display: flex;
    flex-direction: column;
}

.grid {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}
    .grid-main {
        margin: 8px;
    }
        .grid-container-with-placeholders .grid-main {
            background: white;
            margin: 0;
            padding: 1px;
        }

        .grid-main .grid:not(:last-child) {
            margin-right: 8px;
        }
        .grid-container-with-placeholders .grid-main .grid:not(:last-child) {
            margin-right: 1px;
        }
        .grid-container-with-resizers .grid-main .grid {
            margin-right: 0;
        }


.grid-resizer {
    background: #009688;
    flex: 0 0 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    z-index: 2;
}
    .grid-resizer-horizontal {
        cursor: row-resize;
    }
    .grid-resizer-vertical {
        cursor: col-resize;
    }

.grid-row {
    display: flex;
    flex-direction: row;
    flex: 1;
    z-index: 1;
}
    .grid-row:not(:last-child) {
        margin-bottom: 8px;
    }
    .grid-container-with-placeholders .grid-row:not(:last-child) {
        margin-bottom: 1px;
    }

    .grid-container-with-placeholders .grid-row:not(.grid-row-placeholder) {
        min-height: 35px;
        min-width: 35px;
        flex: 1 0 35px;
    }

    .grid-container-with-resizers .grid-row {
        margin-bottom: 0;
    }

.grid-cell {
    padding: 10px;
    position: relative;
    z-index: 1;
}
    .grid-cell:not(:last-child) {
        margin-right: 8px;
    }
    .grid-container-with-placeholders .grid-cell:not(:last-child) {
        margin-right: 1px;
    }
    .grid-container-with-resizers .grid-cell {
        margin-right: 0;
    }

.grid-cell-module {
    overflow: auto;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    flex: 1;
    display: flex;
    padding: 0;
}
    .grid-container-with-placeholders .grid-cell-module {
        box-shadow: none;
    }
    .grid-cell-module-dragging {
        outline: solid 1px rgba(0,150,136,0.5);
    }

.grid-row-placeholder {
    height: 15px;
    flex: none;
}
.grid-cell-placeholder {
    padding: 0;
    background: #009688;
    opacity: 0.3;
    width: 15px;
    flex: none;
}

    .grid-cell-placeholder:first-child:last-child {
        flex: 1;
        max-width: none;
    }

    .grid-cell-placeholder-surround {
        background: #8bc34a;
    }

    .grid-cell-placeholder-prehovering {
        opacity: 0.5;
    }

.grid-last-level-with-placeholders {
    min-width: 35px;
    min-height: 35px;
    flex: 1 0 35px;
}

    .grid-last-level-with-placeholders > .grid-row {
        margin: 0 !important;
    }
    .grid-last-level-with-placeholders .grid-cell {
        margin: 0 !important;
    }

    .grid-last-level-with-placeholders > .grid-row-placeholder {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 2;
    }
        .grid-last-level-with-placeholders > .grid-row-placeholder:first-child {
            top: 0;
            left: 16px; /* width of left placeholder, +1px white */
        }
        .grid-last-level-with-placeholders > .grid-row-placeholder:last-child {
            bottom: 0;
            right: 16px; /* width of right placeholder, +1px white */
        }
        .grid-last-level-with-placeholders > .grid-row:not(.grid-row-placeholder) {
            position: relative;
        }
            .grid-last-level-with-placeholders > .grid-row:not(.grid-row-placeholder) > .grid-cell-placeholder {
                position: absolute;
                top: 0;
                bottom: 0;
                z-index: 2;
            }
            .grid-last-level-with-placeholders > .grid-row:not(.grid-row-placeholder) > .grid-cell-placeholder:first-child {
                left: 0;
                bottom: 16px; /* height of bottom placeholder, +1px white */
            }
            .grid-last-level-with-placeholders > .grid-row:not(.grid-row-placeholder) > .grid-cell-placeholder:last-child {
                right: 0;
                top: 16px; /* height of top placeholder, +1px white */
            }

.module {
    position: relative;
    flex: 1;
    background: white;
}

.module-holder {
    cursor: move;
}

.module-holder, .module-container, .module-holder-container {
    flex: 1;
    display: flex;
}

.module-cover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
}
    .module-cover button {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
    }

    .module-holder-browser-dragging .module-cover button {
        display: none;
    }
