body {
    font: 12px "Open Sans", HelveticaNeue, Helvetica, Arial;
}

html, body, #app, .grid-container {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #eee;
}

.grid-toolbar {
    background: #009688;
    color: white;
    line-height: 64px;
    padding-left: 24px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-weight: bold;
    font-size: 20px;
}
    .grid-toolbar button {
        float: right;
    }

.grid-container {
    display: flex;
    flex-direction: column;
}

.grid {
    padding-top: 8px;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}

    .grid-container-with-placeholders .grid {
        padding-top: 1px;
        padding-left: 1px;
    }

    .grid .grid {
        padding: 0;
    }


.grid-row {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-bottom: 8px;
}
    .grid .grid .grid-row:last-child {
        margin-bottom: 0;
    }
    .grid-container-with-placeholders .grid-row {
        margin-bottom: 1px;
    }
    .grid-container-with-placeholders .grid-row:not(.grid-row-placeholder) {
        min-height: 60px;
        min-width: 60px;
        flex: 1 0 60px;
    }

.grid-cell {
    padding: 10px;
    margin-right: 8px;
    position: relative;
}
    .grid-container-with-placeholders .grid-cell {
        margin-right: 1px;
    }

.grid-cell-module {
    overflow: auto;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    flex: 1;
    display: flex;
    padding: 0;
}
    .grid-container-with-placeholders .grid-cell-module {
        box-shadow: none;
    }

.grid-row-placeholder {
    height: 20px;
    flex: none;
}
.grid-cell-placeholder {
    padding: 0;
    background: rgba(0, 0, 0, 0.1);
    width: 20px;
    flex: none;
}
    .grid-cell-placeholder:first-child:last-child {
        flex: 1;
        max-width: none;
    }

    .grid-cell-placeholder-prehovering {
        background: rgba(0, 0, 0, 0.2);
    }

.grid-last-level-with-placeholders {
    margin-right: 1px;
    min-width: 60px;
    min-height: 60px;
    flex: 1 0 60px;
    outline: dashed white 1px;
}

    .grid-last-level-with-placeholders > .grid-row {
        margin: 0;
    }
    .grid-last-level-with-placeholders .grid-cell {
        margin: 0;
    }

    .grid-last-level-with-placeholders > .grid-row-placeholder {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 2;
    }
        .grid-last-level-with-placeholders > .grid-row-placeholder:first-child {
            top: 0;
            left: 21px;
        }
        .grid-last-level-with-placeholders > .grid-row-placeholder:last-child {
            bottom: 0;
            right: 21px;
        }
        .grid-last-level-with-placeholders > .grid-row:not(.grid-row-placeholder) {
            position: relative;
        }
            .grid-last-level-with-placeholders > .grid-row:not(.grid-row-placeholder) > .grid-cell-placeholder {
                position: absolute;
                top: 0;
                bottom: 0;
                z-index: 2;
            }
            .grid-last-level-with-placeholders > .grid-row:not(.grid-row-placeholder) > .grid-cell-placeholder:first-child {
                left: 0;
                bottom: 21px;
            }
            .grid-last-level-with-placeholders > .grid-row:not(.grid-row-placeholder) > .grid-cell-placeholder:last-child {
                right: 0;
                top: 21px;
            }


.module-holder {
    cursor: move;
}

.module-holder, .module-container, .module-holder-container {
    flex: 1;
    display: flex;
}

.module {
    position: relative;
    flex: 1;
    background: white;
}

.module-cover {
    display: none;
}

    .grid-container-design-mode .module-cover {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        opacity: 0.5;
        background: white;
        z-index: 1;
    }

